    body {
      background-color: #000;  
      color: #fff;
    }
    input[type=text],
    select {
      width: 60%;
      max-width: 300px;
      padding: 6px 2px;
      display: inline-block;
      background-color: #000;
      color: #b4b4b4;
      font-weight: 600;
      border: 2px solid #666;
      border-radius: 4px;
      box-sizing: border-box;
    }

    select {
      width: 80px;
      padding: 4px 2px;
      margin-left: 0px;
      color: #fff;
      border: 2px solid #555;
      background-color: #333;
      font-weight: 600;
      border-radius: 40px;
    }

    #button-play {
      background-color: #444;
      width: 17%;
      color: #fff;
      font-weight: 600;
      max-width: 100px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  #pasteCopyButton {
    background-color: #444;
    padding: 8px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
    #textBox {
      width: 96%;
      height: 150px;
      padding: 10px 5px;
      color: #b4b4b4;
      font-weight: 800;
      font-size: 11px;
      background-color: #000;
      border: 2px solid #666;
      border-radius: 8px;
      margin: 2px;
      margin-left: 0px;
  }
    #clearBtn {
      background-color: #444;
      color: #fff; 
      max-width: 50px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
    .box-container {
      width: 95%;
      height: 300px;
      overflow-y: scroll;
      border: 2px solid #333;
      padding: 6px;
      border-radius: 8px;
      margin: 2px 0;
      cursor: pointer;
    }

    #input-container {
      display: flex;
      width: 120px;
      max-width: 200px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .input-container label {
      cursor: pointer;
    }

    .input-container input[type="text"] {
      width: 80px;
      padding: 4px 10px;
      color: #fff;
      background-color: #333;
      font-weight: 600;
      border: 2px solid #555;
      border-radius: 40px;
      margin-right: 0px;
      cursor: pointer;
    }

    #go-btn {
      background-color: #444;
      padding: 6px;
      width: 30px;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  .post-container {
    width: 98%;
    height: 400px;
    border-radius: 8px;
    border: 2px solid #333;
    padding: 2px;
    margin-bottom: 4px;
    overflow-y: scroll;
  }
  .poster-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  .post-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #reload {
    background-color: #444;
    padding: 6px;
    border: none;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }
  #copyLink {
    background-color: #444;
    padding: 6px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .size {
    color: #b4b4b4;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 180px;
  }
  .duration {
    color: #b4b4b4;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
  }
    #btn-next {
      background-color: #444;
      padding: 4px;
      width: 50px;
      border: none;
      font-weight: 600;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }
    #nightModeBtn {
      cursor: pointer;
      border: none;
      background-color: #444;
      color: #fff;
      Border-radius: 50%;
      text-align: center;
      padding: 6px;
      margin-left: 0px; 
    }
    .alert {
    position: fixed;
    top: 4dvh;
    left: 60dvw;
    background-color: #2a4a6a;
    color: #fff;
    padding: 5px 5px;
    border: 2px solid #999;
    border-radius: 5px;
    }

    h1 {
      color: DodgerBlue;
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      font-weight: 600;
      line-height: 50px;
      margin: 0 0 4px;
      text-align: center;
    }

    #player {
      max-width: 100dvw; /* dvw = dynamic viewport width */
      max-height: 100dvh; /* dvh = dynamic viewport height */
      margin: auto; 
      display: block; 
    }

/* Code for Bright-Mode toggle. */
.nightMode {
    body {
        background-color: #000;  
        color: #b4b4b4;
    }
    input[type=text],
    select {
        color: #999;
        border: 2px solid #333;
    }
    .poster-image,
    #player {
        filter: brightness(70%);
    }
    select,
    .input-container input[type="text"],
    #button-play,
    #go-btn,
    #btn-next {
        color: #b4b4b4;
    }
    #pasteCopyButton,
    #reload,
    #clearBtn,
    #nightModeBtn {
        color: #8888;
    }
    #textBox {
        color: #999;
        border: 2px solid #333;
    }
    .box-container,
    .post-container {
        border: 2px solid #333;
    }
    .size,
    .duration {
        color: #999;
    }
}
