    body {
      background-color: #000;  
      color: #fff;
    }
    .post-container {
      width: 99%;
      height: 400px;
      border-radius: 8px;
      border: 2px solid #333;
      overflow-y: scroll;
      margin: 0px;
    }
    .post-details {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .poster-image {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
    .size {
      color: #b4b4b4;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 600;
      margin: 0px 40px 1px 0px;
    }
    .duration {
      color: #b4b4b4;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      font-weight: 600;
      margin: 0px 20px 1px 35vw;
    }
    #copyLink {
      background-color: #444;
      padding: 6px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 5px;
    }
    #player {
      max-width: 100dvw; /* dvw = dynamic viewport width */
      max-height: 100dvh; /* dvh = dynamic viewport height */
      margin: 2px 0px 0px 0px;  /* Top, Right, Bottom, Left */
    }
    #saveDeleteBtn {
      background-color: #444;
      padding: 8px 8px 8px 8px;  
      border: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type=text],
    select {
      width: 60%;
      max-width: 300px;
      padding: 6px 2px;
      display: inline-block;
      background-color: #000;
      color: #b4b4b4;
      font-weight: 600;
      border: 2px solid #666;
      border-radius: 4px;
      box-sizing: border-box;
    }
    #button-play {
      background-color: #444;
      width: 17%;
      color: #b4b4b4;
      font-weight: 600;
      max-width: 100px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    #clearBtn {
      background-color: #444;
      color: #fff; 
      max-width: 50px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .box-container {
      width: 95%;
      height: 300px;
      overflow-y: scroll;
      border: 2px solid #333;
      padding: 6px;
      border-radius: 8px;
      margin: 2px 0px;
      cursor: pointer;
    }
    #input-container {
      display: flex;
      width: 120px;
      max-width: 200px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
    }
    #nightModeBtn {
      cursor: pointer;
      border: none;
      background-color: #444;
      color: #fff;
      Border-radius: 50%;
      text-align: center;
      padding: 6px;
      margin-left: 0px;
    }
    select {
      width: 80px;
      padding: 4px 2px 4px 15px;
      margin-left: 0px;
      color: #fff;
      border: 2px solid #555;
      background-color: #333;
      font-weight: 600;
      border-radius: 40px;
    }
    .input-container label {
      cursor: pointer;
    }
    .input-container input[type="text"] {
      width: 80px;
      padding: 4px 10px;
      color: #fff;
      background-color: #333;
      font-weight: 600;
      border: 2px solid #555;
      border-radius: 40px;
      margin-right: 0px;
      cursor: pointer;
    }
    #go-btn {
      background-color: #444;
      padding: 6px;
      width: 30px;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    #btn-next {
      background-color: #444;
      padding: 4px;
      width: 50px;
      border: none;
      font-weight: 600;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }
    #reload {
      background-color: #444;
      padding: 6px;
      border: none;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 10px;
    }
    #textBox {
      width: 96%;
      height: 150px;
      padding: 10px 5px;
      color: #b4b4b4;
      font-weight: 800;
      font-size: 11px;
      resize: none;
      background-color: #000;
      border: 2px solid #333;
      border-radius: 8px;
      margin: 2px 0px;
      margin-left: 0px;
    }
    .thumbnailContainer {
      position: fixed;
      top: 2dvh;
      left: 5dvw;
      width: 88%;
      height: 350px;
      border-radius: 5px;
      padding: 2px;
      border: 2px solid #0a8030;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    h1 {
      color: DodgerBlue;
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      font-weight: 600;
      line-height: 50px;
      margin: 0 0 4px;
      text-align: center;
    }
    .saveAlert {
      position: fixed;
      top: 5dvh;
      left: 30dvw;
      color: #000;
      font-weight: 900;
      padding: 5px;
      border: none;
      border-radius: 5px;
      animation-name: save;
      animation-duration: 1s;
    }
    .deleteAlert {
      position: fixed;
      top: 5dvh;
      left: 30dvw;
      color: #000;
      font-weight: 900;
      padding: 5px;
      border: none;
      border-radius: 5px;
      animation-name: delete;
      animation-duration: 1s;
    }
    .notFoundAlert {
      position: fixed;
      top: 5dvh;
      left: 25dvw;
      color: #000;
      font-weight: 900;
      padding: 5px;
      border: none;
      border-radius: 5px;
      animation-name: notFound;
      animation-duration: 1s;
    }
    /* 'Alerts' Animations */
    @keyframes save {
      from {background-color: #666; padding: 5px}
      to {background-color: #1bd13d; padding: 10px}
    }
    @keyframes delete {
      from {background-color: #666; padding: 5px}
      to {background-color: #f2074e; padding: 10px}
    }
    @keyframes notFound {
      from {background-color: #666; padding: 5px}
      to {background-color: #e8af05; padding: 10px}
    }
/* Code for Night-Mode toggle. */
.nightMode {
    body {
        background-color: #000;  
        color: #b4b4b4;
    }
    input[type=text],
    select {
        color: #999;
        border: 2px solid #333;
    }
    .poster-image,
    .thumbnail,
    #boxContainer,
    #player {
        filter: brightness(60%);
    }
    select,
    .input-container input[type="text"],
    #go-btn,
    #btn-next {
        color: #b4b4b4;
    }
    #saveDeleteBtn,
    #reload,
    #clearBtn,
    #nightModeBtn {
        color: #8888;
    }
    #textBox {
        color: #888;
    }
    .box-container,
    .post-container {
        border: 2px solid #333;
    }
    .size,
    .duration {
        color: #999;
    }
  }
